<!DOCTYPE html>
<html>
<title>Web Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">


<div class="w3-content" style="max-width:1400px">


<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>DESARROLLADOR FRONTEND</b></h1>
  <p>Bienvenido a la página de <span class="w3-tag">Jason Forero</span></p>
</header>


<div class="w3-row">


<div class="w3-col l8 s12">
  
  <div class="w3-card-4 w3-margin w3-white">
    <img src="./assets/img/experiencia.jpg" alt="Experiencia" style="width:100%">
    <div class="w3-container">
      <h3><b>EXPERIENCIA</b></h3>
      <h5>A&A Consultores Asociados, <span class="w3-opacity">25 Enero, 2019 - 25 Junio, 2021</span></h5>
    </div>

    <div class="w3-container">
      <p>✓ Manejo de HTML5 y CCS3 para el desarrollo de páginas web en Angular.</p>
      <p>✓ Actualización de páginas web en Wordpress.</p>
      <p>✓ Implementación de página web con herramientas metodológicas como Design Thinking, Lean UX y manejo de software Figma, Sketch y Principle.</p>
      <p>✓ Búsqueda de usuarios para clientes.</p>
      <p>✓ Pruebas de concepto.</p>
      <p>✓ Pruebas de calidad (QA).</p>
      
    </div>
  </div>
  <hr>


  <div class="w3-card-4 w3-margin w3-white">
    <img src="./assets/img/experiencia-accenture.jpg" alt="Experiencia" style="width:100%">
    <div class="w3-container">
      <h3><b>EXPERIENCIA</b></h3>
      <h5>Accenture Colombia, <span class="w3-opacity">23 Julio, 2018 - 22 Junio, 2019</span></h5>
    </div>

    <div class="w3-container">
      <p>✓ Apoyo para la búsqueda de usuarios/research para clientes.</p> 
      <p>✓ Implementación de página web y aplicación móvil con herramientas metodológicas como Design Thinking, Diseño Centrado en el Usuario (HCD) y manejo de software Sketch y Principle.</p>
      <p>✓ Apoyo a diseñadores UI.</p> 
      <p>✓ Apoyo a diseñadores UX.</p>
      <p>✓ Pruebas de calidad (QA).</p>
      
    </div>
  </div>

  
  <div class="w3-card-4 w3-margin w3-white">
  <img src="./assets/img/formacion.jpg" alt="Formación" style="width:100%">
    <div class="w3-container">
      <h3><b>FORMACIÓN</b></h3>
      <h5>Diseño Industrial, UAN <span class="w3-opacity">Marzo 14, 2019</span></h5>
    </div>

    <div class="w3-container">
      <p>Trabajo de Grado: </p>
      <p>Diseño de dispositivo para las personas en condición de discapacidad para poder percibir los obstaculos en el camino.</p>
      
    </div>
  </div>

</div>


<div class="w3-col l4">
 
  <div class="w3-card w3-margin w3-margin-top">
  <img src="./assets/img/jasonforero.png" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Perfil</b></h4>
      <p>Soy una persona responsable y decidida con actitud y dedicación. Tengo la capacidad de lograr los objetivos que requieran de paciencia, dedicación y esfuerzo constante. Siempre estoy dispuesto a aprender nuevas herramientas tecnologías mejorando mi trabajo y a mi constantemente.</p>
    </div>
  </div>
  <hr>
  
  <div class="accordion" id="accordionExample">
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding" id="headingOne">
      <h4>
        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Manejo de Sofware
        </button>
      </h4>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="./assets/img/invision-logo.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">InVision</span><br>
        <span>Avanzado</span>
      </li>
      <li class="w3-padding-16">
        <img src="./assets/img/marvel-logo.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Marvel</span><br>
        <span>Avanzado</span>
      </li> 
      <li class="w3-padding-16">
        <img src="./assets/img/sketch-logo.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Sketch</span><br>
        <span>Avanzado</span>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/figma-logo.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Figma</span><br>
        <span>Avanzado</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/principle-logo.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Principle</span><br>
        <span>Avanzado</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/wordpress-Logo.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Wordpress</span><br>
        <span>Intermedio</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/Adobe-XD.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Adobe XD</span><br>
        <span>Avanzado</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/Adobe-Illustrator.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Adobe Illustrator</span><br>
        <span>Intermedio</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/Adobe-Photoshop.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Adobe Photoshop</span><br>
        <span>Avanzado</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/Adobe-InDesign.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Adobe InDesign</span><br>
        <span>Intermedio</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/After-Effects.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Adobe After Effects</span><br>
        <span>Intermedio</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/Adobe-Premiere.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Adobe Premier</span><br>
        <span>Intermedio</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/Adobe-Dreamweaver.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Adobe Dreamweaver</span><br>
        <span>Avanzado</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/Visual-Studio-Logo.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Microsoft Visual Studio</span><br>
        <span>Avanzado</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/Microsoft-Office-logo.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Microsoft Office</span><br>
        <span>Avanzado</span>
      </li>
    </ul>
    </div>
  </div>
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding" id="headingTwo">
      <h4>
        <button class="btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Manejo de Programación & Frameworks
        </button>
      </h4>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="./assets/img/html5.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">HTML5</span><br>
        <span>Intermedio</span>
      </li>
      <li class="w3-padding-16">
        <img src="./assets/img/css-3.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">CSS3</span><br>
        <span>Intermedio</span>
      </li> 
      <li class="w3-padding-16">
        <img src="./assets/img/javascript.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">JavaScript</span><br>
        <span>Intermedio</span>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/bootstrap.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Bootstrap</span><br>
        <span>Intermedio</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/angular-icon-logo.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Angular</span><br>
        <span>Intermedio</span>
      </li>
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="./assets/img/ionic.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Ionic</span><br>
        <span>Intermedio</span>
      </li>      
    </ul>
    </div>
  </div>
</div>

  
  
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Localización</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Bogotá</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Colombia</span>
      <span class="w3-tag w3-black w3-margin-bottom">Intereses</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">FrontEnd</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Diseño</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">UX</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">UI</span>
      <span class="w3-tag w3-black w3-margin-bottom">Visión</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Innovación</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Paradigma</span>
      <span class="w3-tag w3-black w3-margin-bottom">Noticias</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Tecnología</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Tendencia</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Novedades</span>
      <span class="w3-tag w3-black w3-margin-bottom">Gustos</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Deportes</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ejercicio</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Videojuegos</span>
    </p>
    </div>
  </div>
  

</div>


</div><br>


</div>


<footer class="w3-container w3-dark-grey w3-center w3-margin-top">
  <p>Encuentrame en redes sociales.</p>  
  <a href="https://www.behance.net/jasonforero" target="_blank"><i class="fa fa-behance w3-hover-opacity"></i></a>
  <a href="https://github.com/JasonCamiloFor1/" target="_blank"><i class="fa fa-github w3-hover-opacity"></i></a>
  <a href="https://twitter.com/JasonCamiloFor1" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/jason-camilo-forero-torres-25787254/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
