<h1 class="animated fadeIn fast">Acerca mí</h1>
<hr>

<figure class="text-end">
  <blockquote class="blockquote">
    <p>Los grandes logros de cualquier persona generalmente depende de muchas manos, corazones y mentes.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Walter Elías <cite title="Source Title">Disney</cite>
  </figcaption>
</figure>


<a class="btn btn-primary" href="./assets/doc/Portafolio Web Actualizable.pdf" role="button">Portafolio UX/UI</a>


<!DOCTYPE html>
<html>
<title>Acerca de mí</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">


<div class="w3-content w3-margin-top" style="max-width:1400px;">

  
  <div class="w3-row-padding">
  
    
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="./assets/img/avatar.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Jason Forero</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>Diseñador</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>Bogotá, CO</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>jason.ankh@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>3118926211</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-dark-grey"></i>Habilidades</b></p>
          <p>Sketch</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-dark-grey" style="width:90%">90%</div>
          </div>
          <p>Figma</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-dark-grey" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>Adobe Illustrator</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-dark-grey" style="width:75%">75%</div>
          </div>
          <p>Adobe Photoshop</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-dark-grey" style="width:80%">80%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-dark-grey"></i>Idiomas</b></p>
          <p>Español</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-dark-grey" style="height:24px;width:100%"></div>
          </div>
          <p>Ingles</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-dark-grey" style="height:24px;width:75%"></div>
          </div>
          <p>Frances</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-dark-grey" style="height:24px;width:25%"></div>
          </div>
          <br>
        </div>
      </div><br>

    
    </div>

    
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-dark-grey"></i>Experiencia Laboral</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Diseñador UX/UI / A&A Consultores</b></h5>
          <h6 class="w3-text-dark-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Ene 2019 - <span class="w3-tag w3-dark-grey w3-round">Jun 2021</span></h6>
          <p>✓ Manejo de HTML5 y CCS3 para el desarrollo de páginas web en Angular.</p>
          <p>✓ Actualización de páginas web en Wordpress.</p>
          <p>✓ Implementación de página web con herramientas metodológicas como Design Thinking, Lean UX y manejo de software Figma, Sketch y Principle.</p>
          <p>✓ Búsqueda de usuarios para clientes.</p>
          <p>✓ Pruebas de concepto.</p>
          <p>✓ Pruebas de calidad (QA).</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Diseñador - Practicas / Accenture Colombia</b></h5>
          <h6 class="w3-text-dark-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul 2018 - Ene 2019</h6>
          <p>✓ Apoyo para la búsqueda de usuarios/research para clientes.</p> 
          <p>✓ Implementación de página web y aplicación móvil con herramientas metodológicas como Design Thinking, Diseño Centrado en el Usuario (HCD) y manejo de software Sketch y Principle.</p>
          <p>✓ Apoyo a diseñadores UI.</p> 
          <p>✓ Apoyo a diseñadores UX.</p>
          <p>✓ Pruebas de calidad (QA).</p>
          <hr>
        </div>        
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-dark-grey"></i>Formación</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Universidad Antonio Nariño (UAN)</b></h5>
          <h6 class="w3-text-dark-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Agosto 2013 - Marzo 2019</h6>
          <p>Diseñador Industrial</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Udemy</b></h5>
          <h6 class="w3-text-dark-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Abril 2021 - Junio 2021</h6>
          <p>Angular: De cero a expert (Angular 10+) (Legacy)</p> 
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Udemy</b></h5>
          <h6 class="w3-text-dark-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Abril 2021 - Abril 2021</h6>
          <p>¿Cómo crear una página web? Introducción a HTML5 y CSS3</p> 
          <hr>
        </div>                
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Instituto Europeo de Posgrado (IEP)</b></h5>
          <h6 class="w3-text-dark-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Marzo 2021 - Abril 2021</h6>
          <p>Design Thinking</p>
          <hr>
          <div class="w3-container">
          <h5 class="w3-opacity"><b>Platzi</b></h5>
          <h6 class="w3-text-dark-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Agosto 2018 - Octubre 2018</h6>
          <p>User Research</p><br>
        </div>
        </div>
      </div>

    
    </div>
    
  
  </div>
  
  
</div>

<footer class="w3-container w3-dark-grey w3-center w3-margin-top">
  <p>Encuentrame en redes sociales.</p>  
  <a href="https://www.behance.net/jasonforero" target="_blank"><i class="fa fa-behance w3-hover-opacity"></i></a>
  <a href="https://github.com/JasonCamiloFor1/" target="_blank"><i class="fa fa-github w3-hover-opacity"></i></a>
  <a href="https://twitter.com/JasonCamiloFor1" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/jason-camilo-forero-torres-25787254/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
